@model ProjectFourthMVC.Models.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
    </tr>       
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CompanyName)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => modelItem.ContactTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Fax)
        </td>       
    </tr>        
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
    
</p>
